In [42]:
import os
import random

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import xgboost as xgb
import feature_engineering

from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.metrics import accuracy_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import AdaBoostClassifier

In [43]:
train = pd.read_csv('./data/train.csv')
test = pd.read_csv('./data/test.csv')

data = [train, test]

print('Initial Data Shape : ', train.shape, test.shape, data[0].shape, data[1].shape)

data[0].columns

Initial Data Shape :  (891, 12) (418, 11) (891, 12) (418, 11)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

## Feature Engineering

In [44]:
for df in data:
    df.drop(['PassengerId', 'SibSp', 'Parch', 'Cabin', 'Ticket'], axis=1, inplace=True)

data = feature_engineering.name(data)

data = feature_engineering.impute_age(data)

data = feature_engineering.impute_embarked(data)

data = feature_engineering.impute_fare(data)

data[0], data[1] = feature_engineering.set_dummies(data[0], data[1])

data[0].head(10)

,Survived,Age,Fare,NameLen,AgeNull,Pclass_3,Pclass_1,Pclass_2,Sex_male,Sex_female,Embarked_S,Embarked_C,Embarked_Q,NameTitle_Mr.,NameTitle_Mrs.,NameTitle_Miss.,NameTitle_Master.,NameTitle_Rare,NameTitle_Ms.
0,0,22.0,7.2500,23,0,1,0,0,1,0,1,0,0,1,0,0,0,0,0
1,1,38.0,71.2833,51,0,0,1,0,0,1,0,1,0,0,1,0,0,0,0
2,1,26.0,7.9250,22,0,1,0,0,0,1,1,0,0,0,0,1,0,0,0
3,1,35.0,53.1000,44,0,0,1,0,0,1,1,0,0,0,1,0,0,0,0
4,0,35.0,8.0500,24,0,1,0,0,1,0,1,0,0,1,0,0,0,0,0
5,0,28.0,8.4583,16,1,1,0,0,1,0,0,0,1,1,0,0,0,0,0
6,0,54.0,51.8625,23,0,0,1,0,1,0,1,0,0,1,0,0,0,0,0
7,0,2.0,21.0750,30,0,1,0,0,1,0,1,0,0,0,0,0,1,0,0
8,1,27.0,11.1333,49,0,1,0,0,0,1,1,0,0,0,1,0,0,0,0
9,1,14.0,30.0708,35,0,0,0,1,0,1,0,1,0,0,1,0,0,0,0
10,1,4.0,16.7000,31,0,1,0,0,0,1,1,0,0,0,0,1,0,0,0
11,1,58.0,26.5500,24,0,0,1,0,0,1,1,0,0,0,0,1,0,0,0
12,0,20.0,8.0500,30,0,1,0,0,1,0,1,0,0,1,0,0,0,0,0
13,0,39.0,31.2750,27,0,1,0,0,1,0,1,0,0,1,0,0,0,0,0
14,0,14.0,7.8542,36,0,1,0,0,0,1,1,0,0,0,0,1,0,0,0
15,1,55.0,16.0000,32,0,0,0,1,0,1,1,0,0,0,1,0,0,0,0
16,0,2.0,29.1250,20,0,1,0,0,1,0,0,0,1,0,0,0,1,0,0
17,1,32.0,13.0000,28,1,0,0,1,1,0,1,0,0,1,0,0,0,0,0
18,0,31.0,18.0000,55,0,1,0,0,0,1,1,0,0,0,1,0,0,0,0
19,1,33.0,7.2250,23,1,1,0,0,0,1,0,1,0,0,1,0,0,0,0
20,0,35.0,26.0000,20,0,0,0,1,1,0,1,0,0,1,0,0,0,0,0
21,1,34.0,13.0000,21,0,0,0,1,1,0,1,0,0,1,0,0,0,0,0
22,1,15.0,8.0292,27,0,1,0,0,0,1,0,0,1,0,0,1,0,0,0
23,1,28.0,35.5000,28,0,0,1,0,1,0,1,0,0,1,0,0,0,0,0
24,0,8.0,21.0750,29,0,1,0,0,0,1,1,0,0,0,0,1,0,0,0
25,1,38.0,31.3875,57,0,1,0,0,0,1,1,0,0,0,1,0,0,0,0
26,0,28.0,7.2250,23,1,1,0,0,1,0,0,1,0,1,0,0,0,0,0
27,0,19.0,263.0000,30,0,0,1,0,1,0,1,0,0,1,0,0,0,0,0
28,1,16.0,7.8792,29,1,1,0,0,0,1,0,0,1,0,0,1,0,0,0
29,0,28.0,7.8958,19,1,1,0,0,1,0,1,0,0,1,0,0,0,0,0
30,0,40.0,27.7208,24,0,0,1,0,1,0,0,1,0,0,0,0,0,1,0
31,1,40.0,146.5208,46,1,0,1,0,0,1,0,1,0,0,1,0,0,0,0
32,1,16.0,7.7500,24,1,1,0,0,0,1,0,0,1,0,0,1,0,0,0
33,0,66.0,10.5000,21,0,0,0,1,1,0,1,0,0,1,0,0,0,0,0
34,0,28.0,82.1708,23,0,0,1,0,1,0,0,1,0,1,0,0,0,0,0
35,0,42.0,52.0000,30,0,0,1,0,1,0,1,0,0,1,0,0,0,0,0
36,1,28.0,7.2292,16,1,1,0,0,1,0,0,1,0,1,0,0,0,0,0
37,0,21.0,8.0500,24,0,1,0,0,1,0,1,0,0,1,0,0,0,0,0
38,0,18.0,18.0000,34,0,1,0,0,0,1,1,0,0,0,0,1,0,0,0
39,1,14.0,11.2417,27,0,1,0,0,0,1,0,1,0,0,0,1,0,0,0

In [47]:
model = RandomForestClassifier(max_features='auto', oob_score=True, random_state=1, n_jobs=-1)

param_grid = { "criterion" : ["gini", "entropy"],
               "min_samples_leaf" : [1, 5, 10], 
               "min_samples_split" : [2, 4, 10, 12, 16], 
               "n_estimators": [50, 100, 400]}

gs = GridSearchCV(estimator=model, param_grid=param_grid, scoring='accuracy', cv=3, n_jobs=-1)

gs = gs.fit(data[0].iloc[:, 1:], data[0].iloc[:, 0])

bestscore = gs.best_score_
bestparams = gd.best_params_
cvresults = gs.cv_results_

print(bestscore)
print(bestparams)
print(cvresults)

AttributeError: 'GridSearchCV' object has no attribute 'best_params_'